
{% extends 'base.html' %}


<h1>{% block title %}Search for trails with views{% endblock %}</h1>

{% block content %}
<form id="trail_form" class="form-vertical" method="post" action="/">
{{ form.csrf_token }}
  <div class="form-group">

    <div class="input-group">
      <span class="input-group-addon">Find a trail like</span>
      {{ form.query(id="autocomplete", class="form-input", autocomplete="off", placeholder="Your favourite trail name") }}
    </div>
    <div id="autocomplete_result" style="display: none;"></div>
  </div>

  <div class="form-group">
    <h6>Bounded by area</h6>
    <div class="docs-demo columns">
      <div class="column col-1">
      {{ form.latitude( class="form-input", placeholder="Latitude") }}
      </div>
      <div class="column col-1">
      {{ form.longitude(id="longitude", class="form-input", placeholder="Longitude") }}
      </div>
      <div class="column col-1">
      {{ form.radius(id="radius", class="form-input", placeholder="Radius, m") }}
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="submit" class="btn  btn-primary" value="Search">
  </div>

</form>


{% block results %}{% endblock %}

{% endblock %}
